/**/
.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

/* back to top styling */
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* custom font color */
.custom-font-color{
  color: #5CCAC6;
}

.center-element {
  text-align: center;
}

/* project image */
/*.project-image{
  height: 300px;
}*/
/* modify button */
.button-large {
  color:#f0f5f6;
  background-color: #5CCAC6;
}

.button-style {
  color:#f0f5f6;
  background-color: #5CCAC6;
}

.button-style-plain {
  color:#f0f5f6;
  background-color: grey; 
}

.button-style > a:hover, 
.button-style > a:focus {
  font-color: red;
}

/* add padding to body */
body{
  background-color: lightgray;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
h1, h2, h4 {
  font-family: 'Roboto', sans-serif;
}
.main-heading-line {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #f0f5f6;
  z-index: 2;
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sub-heading-line {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #f0f5f6; 
}
p, span {
  font-size: 16px;
}
.contact-me-text {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* about me */
.about-me {
  height:100vh;
  color: #333333;
  background-color: lightgray;
  background-image: url('../images/teaser-2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.outer-block{
  margin-top: 50px;
  height: 100vh;
  display: table;
  width: 100%;
  background-color: lightgray;
  background-image: url('../images/teaser.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
}

.about-me-caption {
  z-index: 20;
  font-size: 26px;
}

/* navbar css */
.navbar-default {
  background-color: #5ccac6;
  border-color: #36a9a4;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c4f6f3;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c4f6f3;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #5ccac6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #c4f6f3;
  background-color: #36a9a4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #36a9a4;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #c4f6f3;
  background-color: #36a9a4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c4f6f3;
  background-color: #36a9a4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #c4f6f3;
  background-color: #36a9a4;
}
.navbar-default .navbar-toggle {
  border-color: #36a9a4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #36a9a4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #c4f6f3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c4f6f3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c4f6f3;
    background-color: #36a9a4;
  }
}